export(hrm.test, hrm.test.matrix, hrm.test.dataframe, hrm.test.2, hrm_test, hrm.plot) 
import(matrixcalc)
import(MASS)
import(plyr)
import(ggplot2)
importFrom("stats", "pf", "qf", "var")
importFrom("reshape2", "melt")
importFrom("stats", "model.frame", "terms.formula")